
@{
    ViewData["Title"] = "About";
}

<!-- Banner Area Start -->
@await Component.InvokeAsync("Banner", "about us")
<!-- Banner Area End -->
<!-- About Start -->
<div class="about-area pt-145 pb-155">
    <div class="container">
        <div class="row">
            @await Component.InvokeAsync("About")
        </div>
    </div>
</div>
<!-- About End -->
<!-- Teacher Start -->
<div class="teacher-area pt-150 pb-105">
    <div class="container">
        <div class="row">
            @await Component.InvokeAsync("Teacher")
        </div>
    </div>
</div>

<!-- Teacher End -->
<!-- Testimonial Area Start -->
@await Component.InvokeAsync("Testimonial")
<!-- Testimonial Area End -->
<!-- Notice Start -->
<section class="notice-area two pt-140 pb-100">
    <div class="container">
        <div class="row">
            @await Component.InvokeAsync("Notice")
        </div>
    </div>
</section>
<!-- Notice End -->
